<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANALYTICS_API_KEY</key>
	<string>lll-11021933-1jdjdjd01jd1-12121341</string>
	<key>ANALYTICS_BASE_URL</key>
	<string>https://analytics.lolados.app/api</string>
	<key>OLHO_VIVO_API_KEY</key>
	<string>1156131e3fd848c0958048fba8f2e31abb03268cae6f686d6166aa1d1e1e7753</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lolados.sp.due-sp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>duesp</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
